<div class="container cms">
  <div class="cms__page">
    <h1 class="cms__title m-0">Cursos</h1>

    <div class="cms__content">
      <% if @courses.empty? %>
        <div class="alert alert-primary d-flex align-items-center justify-content-between">
          Não há cursos.

          <%= link_to 'Crie o primeiro curso', new_course_path, class: 'btn btn-primary' %>
        </div>
      <% else %>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Nome</th>
              <th>Duração</th>
              <th>Quando?</th>
              <th>Preço</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @courses.each do |course| %>
              <tr>
                <td><%= course.name %></td>
                <td><%= course.duration %></td>
                <td><%= course.when.strftime('%d/%m/%Y') %></td>
                <td><%= course.price %></td>
                <td align="right">
                  <%= link_to 'Editar', edit_course_path(course) %>
                  <span>&emsp;</span>
                  <%= link_to 'Excluir', course, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= link_to 'New Course', new_course_path %>
      <% end %>
    </div>
  </div>
</div>
